<div class="center jumbotron">
  <h1>Begining of the new begining</h1>
  <h2>Home page lay out
    <a href="https://www.railstutorial.org">Link to rails tutorial website</a>
  </h2>
  <%= link_to "Sign up now",signup_path,class: "btn btn-lg btn-primary" %>

</div>
<%= link_to image_tag("rails.png",alt: "rails logo"),"https:/www.google.com" %>
