<div class="center jumbotron">
  <h1>Discuss, Debate, Decide</h1>
  <h2>You can ask questions, Post pictures, Post answers, Follow friends.... </h2><br/><h2 style="margin-top: -20px"> This website is developed on Ruby on Rails Platform. Highly encourage you to checkout all the features
  and give me your opinions
  </h2>
  <div style="margin-left: 40%">
  <%= link_to "Sign up now",signup_path,class: "btn btn-lg btn-primary" %>
</div>
</div>
<div style="margin-top: -20px">
<%= link_to image_tag("rajeev.jpg",alt: "Developer"),
                            "https://www.linkedin.com/profile/view?id=246190334&trk=nav_responsive_tab_profile" %>
</div>
