<% provide(:title,"about") %>
<html>
<title><%= yield(:title)%></title>
<h1>about</h1>
<p>
Fondly called by  his girlfreind as maash, Rajeev is currently busy with his second love - Ruby on Rails</p>
</html>
