<% provide(:title,"about") %>
<html>
<title><%= yield(:title)%></title>
<h1>about</h1>
<p>
<font size="4">
This is website developed on Ruby no Rails. HTML, CSS, Javascript, SQL has been extensively used in this
website for better functionality and user interface. I have followed the Ruby on Rails tutorial written
by Michael Hartle. I request all the users to try and checkout all the features and convey your suggestions, opinions,
 critisisms with me.
</font>
</p>
</html>
