<% provide(:title,"contact") %>


<h1>contact</h1>
<p>
<h5>Rajeev.R</h5>
<address>

Btech in Engineering Physics<br/>
IIT Madras<br/>
email: rajeevriitm@gmail.com <br/>
mob: 09895922310 <br/>
</address>
<a href=http://arxiv.org/abs/1409.2643 target="_blank"> If you are interested, check out this
research paper quantum entanglement</a>

</p>

