<% provide(:title, "help") %>
<h1>Help</h1>
<p>
<ul class="help">
<font size='4'>
<li> The website is aimed for having discussions on the topic of your interest. It provides features such as ask
questions and respond to questions. You can include pictures in your post</li>
<li> You can follow/unfollow your friends to recieve their activities </li>
<li> The home page provides a dynamic page which includes the Posts and the Responses of you and your
followers which is sorted based on the time of creation</li>
<li> It provides an activity feed which includes your profile picture , number of posts, number of followers and
following and following's list </li>
</font>

</p>
